I40-SmartPlugs/flows/pi1-temperature.json
[
    {
        "id": "tab-pi1-temp",
        "type": "tab",
        "label": "Pi1 Temperature → InfluxDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "broker-vultr2",
        "type": "mqtt-broker",
        "name": "Vultr2",
        "broker": "100.100.164.105",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfg-influxdb",
        "type": "influxdb",
        "name": "i40-influxdb",
        "hostname": "i40-influxdb",
        "port": "8181",
        "protocol": "http",
        "database": "i40demo",
        "influxdbVersion": "2.0",
        "url": "http://i40-influxdb:8181",
        "token": "ignored",
        "rejectUnauthorized": false,
        "usetls": false
    },
    {
        "id": "mqtt-in-pi1",
        "type": "mqtt in",
        "z": "tab-pi1-temp",
        "name": "Pi1/152 temperature_F",
        "topic": "Pi1/sensors/raw/152/temperature_F",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker-vultr2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [["fn-format-influx"]]
    },
    {
        "id": "fn-format-influx",
        "type": "function",
        "z": "tab-pi1-temp",
        "name": "Format for InfluxDB",
        "func": "const temp = parseFloat(msg.payload);\nif (isNaN(temp)) {\n    node.warn('Non-numeric payload: ' + msg.payload);\n    return null;\n}\nmsg.measurement = 'temperature';\nmsg.payload = [\n    { value: temp },\n    { device: 'Pi1', sensor_id: '152', unit: 'F' }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 160,
        "wires": [["influxdb-out", "debug-out"]]
    },
    {
        "id": "influxdb-out",
        "type": "influxdb out",
        "z": "tab-pi1-temp",
        "influxdb": "cfg-influxdb",
        "name": "Write to i40demo",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "i40demo",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "i40demo",
        "bucket": "i40demo",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug-out",
        "type": "debug",
        "z": "tab-pi1-temp",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    }
]
