I40-SmartPlugs/flows/shelly-ev.json
[
    {
        "id": "tab-shelly-ev",
        "type": "tab",
        "label": "Shelly_EV → InfluxDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "broker-vultr2",
        "type": "mqtt-broker",
        "name": "Vultr2",
        "broker": "mosquitto-docker-network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfg-influxdb",
        "type": "influxdb",
        "name": "i40-influxdb",
        "hostname": "i40-influxdb",
        "port": "8181",
        "protocol": "http",
        "database": "i40demo",
        "influxdbVersion": "2.0",
        "url": "http://i40-influxdb:8181",
        "token": "ignored",
        "rejectUnauthorized": false,
        "usetls": false
    },
    {
        "id": "mqtt-ev-apower",
        "type": "mqtt in",
        "z": "tab-shelly-ev",
        "name": "Shelly_EV apower",
        "topic": "KTBMES/TWIX/garage/smartplugs/Shelly_EV/switch:0/apower",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker-vultr2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [["fn-ev-apower"]]
    },
    {
        "id": "fn-ev-apower",
        "type": "function",
        "z": "tab-shelly-ev",
        "name": "Format apower",
        "func": "const val = parseFloat(msg.payload);\nif (isNaN(val)) {\n    node.warn('Non-numeric apower: ' + msg.payload);\n    return null;\n}\nmsg.measurement = 'smartplug';\nmsg.payload = [\n    { apower: val },\n    { device: 'Shelly_EV', room: 'garage' }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [["influxdb-ev-out", "debug-ev"]]
    },
    {
        "id": "mqtt-ev-total",
        "type": "mqtt in",
        "z": "tab-shelly-ev",
        "name": "Shelly_EV total",
        "topic": "KTBMES/TWIX/garage/smartplugs/Shelly_EV/switch:0/total",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker-vultr2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [["fn-ev-total"]]
    },
    {
        "id": "fn-ev-total",
        "type": "function",
        "z": "tab-shelly-ev",
        "name": "Format total",
        "func": "const val = parseFloat(msg.payload);\nif (isNaN(val)) {\n    node.warn('Non-numeric total: ' + msg.payload);\n    return null;\n}\nmsg.measurement = 'smartplug';\nmsg.payload = [\n    { total: val },\n    { device: 'Shelly_EV', room: 'garage' }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 240,
        "wires": [["influxdb-ev-out", "debug-ev"]]
    },
    {
        "id": "mqtt-ev-tF",
        "type": "mqtt in",
        "z": "tab-shelly-ev",
        "name": "Shelly_EV tF",
        "topic": "KTBMES/TWIX/garage/smartplugs/Shelly_EV/switch:0/tF",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker-vultr2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 360,
        "wires": [["fn-ev-tF"]]
    },
    {
        "id": "fn-ev-tF",
        "type": "function",
        "z": "tab-shelly-ev",
        "name": "Format tF",
        "func": "const val = parseFloat(msg.payload);\nif (isNaN(val)) {\n    node.warn('Non-numeric tF: ' + msg.payload);\n    return null;\n}\nmsg.measurement = 'smartplug';\nmsg.payload = [\n    { tF: val },\n    { device: 'Shelly_EV', room: 'garage' }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [["influxdb-ev-out", "debug-ev"]]
    },
    {
        "id": "influxdb-ev-out",
        "type": "influxdb out",
        "z": "tab-shelly-ev",
        "influxdb": "cfg-influxdb",
        "name": "Write to i40demo",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "i40demo",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "i40demo",
        "bucket": "i40demo",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug-ev",
        "type": "debug",
        "z": "tab-shelly-ev",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    }
]
