I40-Stack/flows/shelly_prod.json
[
    {
        "id": "tab-shelly-prod",
        "type": "tab",
        "label": "Shelly_Prod → InfluxDB",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt-shelly-apower",
        "type": "mqtt in",
        "z": "tab-shelly-prod",
        "name": "Shelly_Prod apower",
        "topic": "KTBMES/TWIX/office/smartplugs/Shelly_Prod/switch:0/apower",
        "qos": "0",
        "datatype": "utf8",
        "broker": "b0fde5f3a6988096",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "fn-shelly-apower"
            ]
        ]
    },
    {
        "id": "fn-shelly-apower",
        "type": "function",
        "z": "tab-shelly-prod",
        "name": "Format apower",
        "func": "const val = parseFloat(msg.payload);\nif (isNaN(val)) {\n    node.warn('Non-numeric apower: ' + msg.payload);\n    return null;\n}\nmsg.measurement = 'smartplug';\nmsg.payload = [\n    { apower: val },\n    { device: 'Shelly_Prod', room: 'office' }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "influxdb-shelly-out",
                "debug-shelly"
            ]
        ]
    },
    {
        "id": "mqtt-shelly-total",
        "type": "mqtt in",
        "z": "tab-shelly-prod",
        "name": "Shelly_Prod total",
        "topic": "KTBMES/TWIX/office/smartplugs/Shelly_Prod/switch:0/total",
        "qos": "0",
        "datatype": "utf8",
        "broker": "b0fde5f3a6988096",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "fn-shelly-total"
            ]
        ]
    },
    {
        "id": "fn-shelly-total",
        "type": "function",
        "z": "tab-shelly-prod",
        "name": "Format total",
        "func": "const val = parseFloat(msg.payload);\nif (isNaN(val)) {\n    node.warn('Non-numeric total: ' + msg.payload);\n    return null;\n}\nmsg.measurement = 'smartplug';\nmsg.payload = [\n    { total: val },\n    { device: 'Shelly_Prod', room: 'office' }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 240,
        "wires": [
            [
                "influxdb-shelly-out",
                "debug-shelly"
            ]
        ]
    },
    {
        "id": "mqtt-shelly-tF",
        "type": "mqtt in",
        "z": "tab-shelly-prod",
        "name": "Shelly_Prod tF",
        "topic": "KTBMES/TWIX/office/smartplugs/Shelly_Prod/switch:0/tF",
        "qos": "0",
        "datatype": "utf8",
        "broker": "b0fde5f3a6988096",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 360,
        "wires": [
            [
                "fn-shelly-tF"
            ]
        ]
    },
    {
        "id": "fn-shelly-tF",
        "type": "function",
        "z": "tab-shelly-prod",
        "name": "Format tF",
        "func": "const val = parseFloat(msg.payload);\nif (isNaN(val)) {\n    node.warn('Non-numeric tF: ' + msg.payload);\n    return null;\n}\nmsg.measurement = 'smartplug';\nmsg.payload = [\n    { tF: val },\n    { device: 'Shelly_Prod', room: 'office' }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "influxdb-shelly-out",
                "debug-shelly"
            ]
        ]
    },
    {
        "id": "influxdb-shelly-out",
        "type": "influxdb out",
        "z": "tab-shelly-prod",
        "influxdb": "cfg-influxdb",
        "name": "Write to i40demo",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "i40demo",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "i40demo",
        "bucket": "i40demo",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug-shelly",
        "type": "debug",
        "z": "tab-shelly-prod",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "b0fde5f3a6988096",
        "type": "mqtt-broker",
        "name": "mosquitto-docker-network",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cfg-influxdb",
        "type": "influxdb",
        "hostname": "i40-influxdb",
        "port": "8181",
        "protocol": "http",
        "database": "i40demo",
        "name": "i40-influxdb",
        "usetls": false,
        "influxdbVersion": "2.0",
        "url": "http://i40-influxdb:8181",
        "rejectUnauthorized": false
    },
    {
        "id": "af69eda1e68b2433",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]
